@charset "UTF-8";
@font-face {
  font-family: "DMSans";
  font-weight: 700;
  font-style: normal;
  src: local("DMSans-Bold"), url("../fonts/DMSans-Bold.woff2") format("woff2"), url("../fonts/DMSans-Bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Rubik";
  font-weight: 500;
  font-style: normal;
  src: local("Rubik-Medium"), url("../fonts/Rubik-Medium.woff2") format("woff2"), url("../fonts/Rubik-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Rubik-light";
  font-weight: 300;
  font-style: normal;
  src: local("Rubik-Light"), url("../fonts/Rubik-Light.woff2") format("woff2"), url("../fonts/Rubik-Light.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Rubik-regular";
  font-weight: 400;
  font-style: normal;
  src: local("Rubik-Regular"), url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff");
  font-display: swap;
}
.articles__all, .header__cart span, .header__heart span, .title, body {
  font-family: "DMSans", sans-serif;
  font-weight: 700;
}

.footer__list, .footer__contact, .footer__text, .footer__bottom, .team__position, .team__text, .mission__experience, .header__inner, .btn {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

.breadcrumbs__link, .breadcrumbs__item::after {
  font-family: "Rubik-regular", sans-serif;
  font-weight: 400;
}

.breadcrumbs__title {
  font-family: "Rubik-light", sans-serif;
  font-weight: 300;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

body.compensate-for-scrollbar {
  overflow: hidden;
}

.fancybox-active {
  height: auto;
}

.fancybox-is-hidden {
  left: -9999px;
  margin: 0;
  position: absolute !important;
  top: -9999px;
  visibility: hidden;
}

.fancybox-container {
  -webkit-backface-visibility: hidden;
  height: 100%;
  left: 0;
  outline: none;
  position: fixed;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  touch-action: manipulation;
  transform: translateZ(0);
  width: 100%;
  z-index: 99992;
}

.fancybox-container * {
  box-sizing: border-box;
}

.fancybox-outer,
.fancybox-inner,
.fancybox-bg,
.fancybox-stage {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.fancybox-outer {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

.fancybox-bg {
  background: rgb(30, 30, 30);
  opacity: 0;
  transition-duration: inherit;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
}

.fancybox-is-open .fancybox-bg {
  opacity: 0.9;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.fancybox-infobar,
.fancybox-toolbar,
.fancybox-caption,
.fancybox-navigation .fancybox-button {
  direction: ltr;
  opacity: 0;
  position: absolute;
  transition: opacity 0.25s ease, visibility 0s ease 0.25s;
  visibility: hidden;
  z-index: 99997;
}

.fancybox-show-infobar .fancybox-infobar,
.fancybox-show-toolbar .fancybox-toolbar,
.fancybox-show-caption .fancybox-caption,
.fancybox-show-nav .fancybox-navigation .fancybox-button {
  opacity: 1;
  transition: opacity 0.25s ease 0s, visibility 0s ease 0s;
  visibility: visible;
}

.fancybox-infobar {
  color: #ccc;
  font-size: 13px;
  -webkit-font-smoothing: subpixel-antialiased;
  height: 44px;
  left: 0;
  line-height: 44px;
  min-width: 44px;
  mix-blend-mode: difference;
  padding: 0 10px;
  pointer-events: none;
  top: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.fancybox-toolbar {
  right: 0;
  top: 0;
}

.fancybox-stage {
  direction: ltr;
  overflow: visible;
  transform: translateZ(0);
  z-index: 99994;
}

.fancybox-is-open .fancybox-stage {
  overflow: hidden;
}

.fancybox-slide {
  -webkit-backface-visibility: hidden;
  /* Using without prefix would break IE11 */
  display: none;
  height: 100%;
  left: 0;
  outline: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: absolute;
  text-align: center;
  top: 0;
  transition-property: transform, opacity;
  white-space: normal;
  width: 100%;
  z-index: 99994;
}

.fancybox-slide::before {
  content: "";
  display: inline-block;
  font-size: 0;
  height: 100%;
  vertical-align: middle;
  width: 0;
}

.fancybox-is-sliding .fancybox-slide,
.fancybox-slide--previous,
.fancybox-slide--current,
.fancybox-slide--next {
  display: block;
}

.fancybox-slide--image {
  overflow: hidden;
  padding: 44px 0;
}

.fancybox-slide--image::before {
  display: none;
}

.fancybox-slide--html {
  padding: 6px;
}

.fancybox-content {
  background: #fff;
  display: inline-block;
  margin: 0;
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: relative;
  text-align: left;
  vertical-align: middle;
}

.fancybox-slide--image .fancybox-content {
  animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
  -webkit-backface-visibility: hidden;
  background: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 0;
  max-width: none;
  overflow: visible;
  padding: 0;
  position: absolute;
  top: 0;
  transform-origin: top left;
  transition-property: transform, opacity;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 99995;
}

.fancybox-can-zoomOut .fancybox-content {
  cursor: zoom-out;
}

.fancybox-can-zoomIn .fancybox-content {
  cursor: zoom-in;
}

.fancybox-can-swipe .fancybox-content,
.fancybox-can-pan .fancybox-content {
  cursor: grab;
}

.fancybox-is-grabbing .fancybox-content {
  cursor: grabbing;
}

.fancybox-container [data-selectable=true] {
  cursor: text;
}

.fancybox-image,
.fancybox-spaceball {
  background: transparent;
  border: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 100%;
}

.fancybox-spaceball {
  z-index: 1;
}

.fancybox-slide--video .fancybox-content,
.fancybox-slide--map .fancybox-content,
.fancybox-slide--pdf .fancybox-content,
.fancybox-slide--iframe .fancybox-content {
  height: 100%;
  overflow: visible;
  padding: 0;
  width: 100%;
}

.fancybox-slide--video .fancybox-content {
  background: #000;
}

.fancybox-slide--map .fancybox-content {
  background: #e5e3df;
}

.fancybox-slide--iframe .fancybox-content {
  background: #fff;
}

.fancybox-video,
.fancybox-iframe {
  background: transparent;
  border: 0;
  display: block;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

/* Fix iOS */
.fancybox-iframe {
  left: 0;
  position: absolute;
  top: 0;
}

.fancybox-error {
  background: #fff;
  cursor: default;
  max-width: 400px;
  padding: 40px;
  width: 100%;
}

.fancybox-error p {
  color: #444;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

/* Buttons */
.fancybox-button {
  background: rgba(30, 30, 30, 0.6);
  border: 0;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  height: 44px;
  margin: 0;
  padding: 10px;
  position: relative;
  transition: color 0.2s;
  vertical-align: top;
  visibility: inherit;
  width: 44px;
}

.fancybox-button,
.fancybox-button:visited,
.fancybox-button:link {
  color: #ccc;
}

.fancybox-button:hover {
  color: #fff;
}

.fancybox-button:focus {
  outline: none;
}

.fancybox-button.fancybox-focus {
  outline: 1px dotted;
}

.fancybox-button[disabled],
.fancybox-button[disabled]:hover {
  color: #888;
  cursor: default;
  outline: none;
}

/* Fix IE11 */
.fancybox-button div {
  height: 100%;
}

.fancybox-button svg {
  display: block;
  height: 100%;
  overflow: visible;
  position: relative;
  width: 100%;
}

.fancybox-button svg path {
  fill: currentColor;
  stroke-width: 0;
}

.fancybox-button--play svg:nth-child(2),
.fancybox-button--fsenter svg:nth-child(2) {
  display: none;
}

.fancybox-button--pause svg:nth-child(1),
.fancybox-button--fsexit svg:nth-child(1) {
  display: none;
}

.fancybox-progress {
  background: #ff5268;
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scaleX(0);
  transform-origin: 0;
  transition-property: transform;
  transition-timing-function: linear;
  z-index: 99998;
}

/* Close button on the top right corner of html content */
.fancybox-close-small {
  background: transparent;
  border: 0;
  border-radius: 0;
  color: #ccc;
  cursor: pointer;
  opacity: 0.8;
  padding: 8px;
  position: absolute;
  right: -12px;
  top: -44px;
  z-index: 401;
}

.fancybox-close-small:hover {
  color: #fff;
  opacity: 1;
}

.fancybox-slide--html .fancybox-close-small {
  color: currentColor;
  padding: 10px;
  right: 0;
  top: 0;
}

.fancybox-slide--image.fancybox-is-scaling .fancybox-content {
  overflow: hidden;
}

.fancybox-is-scaling .fancybox-close-small,
.fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small {
  display: none;
}

/* Navigation arrows */
.fancybox-navigation .fancybox-button {
  background-clip: content-box;
  height: 100px;
  opacity: 0;
  position: absolute;
  top: calc(50% - 50px);
  width: 70px;
}

.fancybox-navigation .fancybox-button div {
  padding: 7px;
}

.fancybox-navigation .fancybox-button--arrow_left {
  left: 0;
  left: env(safe-area-inset-left);
  padding: 31px 26px 31px 6px;
}

.fancybox-navigation .fancybox-button--arrow_right {
  padding: 31px 6px 31px 26px;
  right: 0;
  right: env(safe-area-inset-right);
}

/* Caption */
.fancybox-caption {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.15) 65%, rgba(0, 0, 0, 0.075) 75.5%, rgba(0, 0, 0, 0.037) 82.85%, rgba(0, 0, 0, 0.019) 88%, rgba(0, 0, 0, 0) 100%);
  bottom: 0;
  color: #eee;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  line-height: 1.5;
  padding: 75px 44px 25px 44px;
  pointer-events: none;
  right: 0;
  text-align: center;
  z-index: 99996;
}

@supports (padding: max(0px)) {
  .fancybox-caption {
    padding: 75px max(44px, env(safe-area-inset-right)) max(25px, env(safe-area-inset-bottom)) max(44px, env(safe-area-inset-left));
  }
}
.fancybox-caption--separate {
  margin-top: -50px;
}

.fancybox-caption__body {
  max-height: 50vh;
  overflow: auto;
  pointer-events: all;
}

.fancybox-caption a,
.fancybox-caption a:link,
.fancybox-caption a:visited {
  color: #ccc;
  text-decoration: none;
}

.fancybox-caption a:hover {
  color: #fff;
  text-decoration: underline;
}

/* Loading indicator */
.fancybox-loading {
  animation: fancybox-rotate 1s linear infinite;
  background: transparent;
  border: 4px solid #888;
  border-bottom-color: #fff;
  border-radius: 50%;
  height: 50px;
  left: 50%;
  margin: -25px 0 0 -25px;
  opacity: 0.7;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 50px;
  z-index: 99999;
}

@keyframes fancybox-rotate {
  100% {
    transform: rotate(360deg);
  }
}
/* Transition effects */
.fancybox-animated {
  transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
}

/* transitionEffect: slide */
.fancybox-fx-slide.fancybox-slide--previous {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.fancybox-fx-slide.fancybox-slide--next {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}

.fancybox-fx-slide.fancybox-slide--current {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/* transitionEffect: fade */
.fancybox-fx-fade.fancybox-slide--previous,
.fancybox-fx-fade.fancybox-slide--next {
  opacity: 0;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.fancybox-fx-fade.fancybox-slide--current {
  opacity: 1;
}

/* transitionEffect: zoom-in-out */
.fancybox-fx-zoom-in-out.fancybox-slide--previous {
  opacity: 0;
  transform: scale3d(1.5, 1.5, 1.5);
}

.fancybox-fx-zoom-in-out.fancybox-slide--next {
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
}

.fancybox-fx-zoom-in-out.fancybox-slide--current {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

/* transitionEffect: rotate */
.fancybox-fx-rotate.fancybox-slide--previous {
  opacity: 0;
  transform: rotate(-360deg);
}

.fancybox-fx-rotate.fancybox-slide--next {
  opacity: 0;
  transform: rotate(360deg);
}

.fancybox-fx-rotate.fancybox-slide--current {
  opacity: 1;
  transform: rotate(0deg);
}

/* transitionEffect: circular */
.fancybox-fx-circular.fancybox-slide--previous {
  opacity: 0;
  transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
}

.fancybox-fx-circular.fancybox-slide--next {
  opacity: 0;
  transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
}

.fancybox-fx-circular.fancybox-slide--current {
  opacity: 1;
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
}

/* transitionEffect: tube */
.fancybox-fx-tube.fancybox-slide--previous {
  transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
}

.fancybox-fx-tube.fancybox-slide--next {
  transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
}

.fancybox-fx-tube.fancybox-slide--current {
  transform: translate3d(0, 0, 0) scale(1);
}

/* Styling for Small-Screen Devices */
@media all and (max-height: 576px) {
  .fancybox-slide {
    padding-left: 6px;
    padding-right: 6px;
  }
  .fancybox-slide--image {
    padding: 6px 0;
  }
  .fancybox-close-small {
    right: -6px;
  }
  .fancybox-slide--image .fancybox-close-small {
    background: #4e4e4e;
    color: #f2f4f6;
    height: 36px;
    opacity: 1;
    padding: 6px;
    right: 0;
    top: 0;
    width: 36px;
  }
  .fancybox-caption {
    padding-left: 12px;
    padding-right: 12px;
  }
  @supports (padding: max(0px)) {
    .fancybox-caption {
      padding-left: max(12px, env(safe-area-inset-left));
      padding-right: max(12px, env(safe-area-inset-right));
    }
  }
}
/* Share */
.fancybox-share {
  background: #f4f4f4;
  border-radius: 3px;
  max-width: 90%;
  padding: 30px;
  text-align: center;
}

.fancybox-share h1 {
  color: #222;
  font-size: 35px;
  font-weight: 700;
  margin: 0 0 20px 0;
}

.fancybox-share p {
  margin: 0;
  padding: 0;
}

.fancybox-share__button {
  border: 0;
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  margin: 0 5px 10px 5px;
  min-width: 130px;
  padding: 0 15px;
  text-decoration: none;
  transition: all 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.fancybox-share__button:visited,
.fancybox-share__button:link {
  color: #fff;
}

.fancybox-share__button:hover {
  text-decoration: none;
}

.fancybox-share__button--fb {
  background: #3b5998;
}

.fancybox-share__button--fb:hover {
  background: #344e86;
}

.fancybox-share__button--pt {
  background: #bd081d;
}

.fancybox-share__button--pt:hover {
  background: #aa0719;
}

.fancybox-share__button--tw {
  background: #1da1f2;
}

.fancybox-share__button--tw:hover {
  background: #0d95e8;
}

.fancybox-share__button svg {
  height: 25px;
  margin-right: 7px;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 25px;
}

.fancybox-share__button svg path {
  fill: #fff;
}

.fancybox-share__input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #d7d7d7;
  border-radius: 0;
  color: #5d5b5b;
  font-size: 14px;
  margin: 10px 0 0 0;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}

/* Thumbs */
.fancybox-thumbs {
  background: #ddd;
  bottom: 0;
  display: none;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 2px 2px 4px 2px;
  position: absolute;
  right: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  top: 0;
  width: 212px;
  z-index: 99995;
}

.fancybox-thumbs-x {
  overflow-x: auto;
  overflow-y: hidden;
}

.fancybox-show-thumbs .fancybox-thumbs {
  display: block;
}

.fancybox-show-thumbs .fancybox-inner {
  right: 212px;
}

.fancybox-thumbs__list {
  font-size: 0;
  height: 100%;
  list-style: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  position: relative;
  white-space: nowrap;
  width: 100%;
}

.fancybox-thumbs-x .fancybox-thumbs__list {
  overflow: hidden;
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar {
  width: 7px;
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 10px;
}

.fancybox-thumbs__list a {
  backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  float: left;
  height: 75px;
  margin: 2px;
  max-height: calc(100% - 8px);
  max-width: calc(50% - 4px);
  outline: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  width: 100px;
}

.fancybox-thumbs__list a::before {
  border: 6px solid #ff5268;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 99991;
}

.fancybox-thumbs__list a:focus::before {
  opacity: 0.5;
}

.fancybox-thumbs__list a.fancybox-thumbs-active::before {
  opacity: 1;
}

/* Styling for Small-Screen Devices */
@media all and (max-width: 576px) {
  .fancybox-thumbs {
    width: 110px;
  }
  .fancybox-show-thumbs .fancybox-inner {
    right: 110px;
  }
  .fancybox-thumbs__list a {
    max-width: calc(100% - 10px);
  }
}
/**
Ion.RangeSlider, 2.3.1
© Denis Ineshin, 2010 - 2019, IonDen.com
Build date: 2019-12-19 16:51:02
*/
.irs {
  position: relative;
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-size: 12px;
  font-family: Arial, sans-serif;
}

.irs-line {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none !important;
}

.irs-bar {
  position: absolute;
  display: block;
  left: 0;
  width: 0;
}

.irs-shadow {
  position: absolute;
  display: none;
  left: 0;
  width: 0;
}

.irs-handle {
  position: absolute;
  display: block;
  box-sizing: border-box;
  cursor: default;
  z-index: 1;
}

.irs-handle.type_last {
  z-index: 2;
}

.irs-min,
.irs-max {
  position: absolute;
  display: block;
  cursor: default;
}

.irs-min {
  left: 0;
}

.irs-max {
  right: 0;
}

.irs-from,
.irs-to,
.irs-single {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  cursor: default;
  white-space: nowrap;
}

.irs-grid {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
}

.irs-with-grid .irs-grid {
  display: block;
}

.irs-grid-pol {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 8px;
  background: #000;
}

.irs-grid-pol.small {
  height: 4px;
}

.irs-grid-text {
  position: absolute;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  text-align: center;
  font-size: 9px;
  line-height: 9px;
  padding: 0 3px;
  color: #000;
}

.irs-disable-mask {
  position: absolute;
  display: block;
  top: 0;
  left: -1%;
  width: 102%;
  height: 100%;
  cursor: default;
  background: rgba(0, 0, 0, 0);
  z-index: 2;
}

.lt-ie9 .irs-disable-mask {
  background: #000;
  filter: alpha(opacity=0);
  cursor: not-allowed;
}

.irs-disabled {
  opacity: 0.4;
}

.irs-hidden-input {
  position: absolute !important;
  display: block !important;
  top: 0 !important;
  left: 0 !important;
  width: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
  outline: none !important;
  z-index: -9999 !important;
  background: none !important;
  border-style: solid !important;
  border-color: transparent !important;
}

.irs--flat {
  height: 40px;
}

.irs--flat.irs-with-grid {
  height: 60px;
}

.irs--flat .irs-line {
  top: 25px;
  height: 12px;
  background-color: #e1e4e9;
  border-radius: 4px;
}

.irs--flat .irs-bar {
  top: 25px;
  height: 12px;
  background-color: #ed5565;
}

.irs--flat .irs-bar--single {
  border-radius: 4px 0 0 4px;
}

.irs--flat .irs-shadow {
  height: 1px;
  bottom: 16px;
  background-color: #e1e4e9;
}

.irs--flat .irs-handle {
  top: 22px;
  width: 16px;
  height: 18px;
  background-color: transparent;
}

.irs--flat .irs-handle > i:first-child {
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background-color: #da4453;
}

.irs--flat .irs-handle.state_hover > i:first-child,
.irs--flat .irs-handle:hover > i:first-child {
  background-color: #a43540;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  top: 0;
  padding: 1px 3px;
  color: #999;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  background-color: #e1e4e9;
  border-radius: 4px;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  color: white;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  background-color: #ed5565;
  border-radius: 4px;
}

.irs--flat .irs-from:before,
.irs--flat .irs-to:before,
.irs--flat .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #ed5565;
}

.irs--flat .irs-grid-pol {
  background-color: #e1e4e9;
}

.irs--flat .irs-grid-text {
  color: #999;
}

.irs--big {
  height: 55px;
}

.irs--big.irs-with-grid {
  height: 70px;
}

.irs--big .irs-line {
  top: 33px;
  height: 12px;
  background-color: white;
  background: linear-gradient(to bottom, #ddd -50%, white 150%);
  border: 1px solid #ccc;
  border-radius: 12px;
}

.irs--big .irs-bar {
  top: 33px;
  height: 12px;
  background-color: #92bce0;
  border: 1px solid #428bca;
  background: linear-gradient(to bottom, #ffffff 0%, #428bca 30%, #b9d4ec 100%);
  box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.5);
}

.irs--big .irs-bar--single {
  border-radius: 12px 0 0 12px;
}

.irs--big .irs-shadow {
  height: 1px;
  bottom: 16px;
  background-color: rgba(66, 139, 202, 0.5);
}

.irs--big .irs-handle {
  top: 25px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #cbcfd5;
  background: linear-gradient(to bottom, white 0%, #B4B9BE 30%, white 100%);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), inset 0 0 3px 1px white;
  border-radius: 30px;
}

.irs--big .irs-handle.state_hover,
.irs--big .irs-handle:hover {
  border-color: rgba(0, 0, 0, 0.45);
  background-color: #939ba7;
  background: linear-gradient(to bottom, white 0%, #919BA5 30%, white 100%);
}

.irs--big .irs-min,
.irs--big .irs-max {
  top: 0;
  padding: 1px 5px;
  color: white;
  text-shadow: none;
  background-color: #9f9f9f;
  border-radius: 3px;
}

.irs--big .irs-from,
.irs--big .irs-to,
.irs--big .irs-single {
  color: white;
  text-shadow: none;
  padding: 1px 5px;
  background-color: #428bca;
  background: linear-gradient(to bottom, #428bca 0%, #3071a9 100%);
  border-radius: 3px;
}

.irs--big .irs-grid-pol {
  background-color: #428bca;
}

.irs--big .irs-grid-text {
  color: #428bca;
}

.irs--modern {
  height: 55px;
}

.irs--modern.irs-with-grid {
  height: 55px;
}

.irs--modern .irs-line {
  top: 25px;
  height: 5px;
  background-color: #d1d6e0;
  background: linear-gradient(to bottom, #e0e4ea 0%, #d1d6e0 100%);
  border: 1px solid #a3adc1;
  border-bottom-width: 0;
  border-radius: 5px;
}

.irs--modern .irs-bar {
  top: 25px;
  height: 5px;
  background: #20b426;
  background: linear-gradient(to bottom, #20b426 0%, #18891d 100%);
}

.irs--modern .irs-bar--single {
  border-radius: 5px 0 0 5px;
}

.irs--modern .irs-shadow {
  height: 1px;
  bottom: 21px;
  background-color: rgba(209, 214, 224, 0.5);
}

.irs--modern .irs-handle {
  top: 37px;
  width: 12px;
  height: 13px;
  border: 1px solid #a3adc1;
  border-top-width: 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 3px 3px;
}

.irs--modern .irs-handle > i:nth-child(1) {
  position: absolute;
  display: block;
  top: -4px;
  left: 1px;
  width: 6px;
  height: 6px;
  border: 1px solid #a3adc1;
  background: white;
  transform: rotate(45deg);
}

.irs--modern .irs-handle > i:nth-child(2) {
  position: absolute;
  display: block;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 10px;
  height: 12px;
  background: #e9e6e6;
  background: linear-gradient(to bottom, white 0%, #e9e6e6 100%);
  border-radius: 0 0 3px 3px;
}

.irs--modern .irs-handle > i:nth-child(3) {
  position: absolute;
  display: block;
  box-sizing: border-box;
  top: 3px;
  left: 3px;
  width: 4px;
  height: 5px;
  border-left: 1px solid #a3adc1;
  border-right: 1px solid #a3adc1;
}

.irs--modern .irs-handle.state_hover,
.irs--modern .irs-handle:hover {
  border-color: #7685a2;
  background: #c3c7cd;
  background: linear-gradient(to bottom, #ffffff 0%, #919ba5 30%, #ffffff 100%);
}

.irs--modern .irs-handle.state_hover > i:nth-child(1),
.irs--modern .irs-handle:hover > i:nth-child(1) {
  border-color: #7685a2;
}

.irs--modern .irs-handle.state_hover > i:nth-child(3),
.irs--modern .irs-handle:hover > i:nth-child(3) {
  border-color: #48536a;
}

.irs--modern .irs-min,
.irs--modern .irs-max {
  top: 0;
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  color: white;
  background-color: #d1d6e0;
  border-radius: 5px;
}

.irs--modern .irs-from,
.irs--modern .irs-to,
.irs--modern .irs-single {
  font-size: 10px;
  line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  background-color: #20b426;
  color: white;
  border-radius: 5px;
}

.irs--modern .irs-from:before,
.irs--modern .irs-to:before,
.irs--modern .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #20b426;
}

.irs--modern .irs-grid {
  height: 25px;
}

.irs--modern .irs-grid-pol {
  background-color: #dedede;
}

.irs--modern .irs-grid-text {
  color: silver;
  font-size: 13px;
}

.irs--sharp {
  height: 50px;
  font-size: 12px;
  line-height: 1;
}

.irs--sharp.irs-with-grid {
  height: 57px;
}

.irs--sharp .irs-line {
  top: 30px;
  height: 2px;
  background-color: black;
  border-radius: 2px;
}

.irs--sharp .irs-bar {
  top: 30px;
  height: 2px;
  background-color: #ee22fa;
}

.irs--sharp .irs-bar--single {
  border-radius: 2px 0 0 2px;
}

.irs--sharp .irs-shadow {
  height: 1px;
  bottom: 21px;
  background-color: rgba(0, 0, 0, 0.5);
}

.irs--sharp .irs-handle {
  top: 25px;
  width: 10px;
  height: 10px;
  background-color: #a804b2;
}

.irs--sharp .irs-handle > i:first-child {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #a804b2;
}

.irs--sharp .irs-handle.state_hover,
.irs--sharp .irs-handle:hover {
  background-color: black;
}

.irs--sharp .irs-handle.state_hover > i:first-child,
.irs--sharp .irs-handle:hover > i:first-child {
  border-top-color: black;
}

.irs--sharp .irs-min,
.irs--sharp .irs-max {
  color: white;
  font-size: 14px;
  line-height: 1;
  top: 0;
  padding: 3px 4px;
  opacity: 0.4;
  background-color: #a804b2;
  border-radius: 2px;
}

.irs--sharp .irs-from,
.irs--sharp .irs-to,
.irs--sharp .irs-single {
  font-size: 14px;
  line-height: 1;
  text-shadow: none;
  padding: 3px 4px;
  background-color: #a804b2;
  color: white;
  border-radius: 2px;
}

.irs--sharp .irs-from:before,
.irs--sharp .irs-to:before,
.irs--sharp .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #a804b2;
}

.irs--sharp .irs-grid {
  height: 25px;
}

.irs--sharp .irs-grid-pol {
  background-color: #dedede;
}

.irs--sharp .irs-grid-text {
  color: silver;
  font-size: 13px;
}

.irs--round {
  height: 50px;
}

.irs--round.irs-with-grid {
  height: 65px;
}

.irs--round .irs-line {
  top: 36px;
  height: 4px;
  background-color: #dee4ec;
  border-radius: 4px;
}

.irs--round .irs-bar {
  top: 36px;
  height: 4px;
  background-color: #006cfa;
}

.irs--round .irs-bar--single {
  border-radius: 4px 0 0 4px;
}

.irs--round .irs-shadow {
  height: 4px;
  bottom: 21px;
  background-color: rgba(222, 228, 236, 0.5);
}

.irs--round .irs-handle {
  top: 26px;
  width: 24px;
  height: 24px;
  border: 4px solid #006cfa;
  background-color: white;
  border-radius: 24px;
  box-shadow: 0 1px 3px rgba(0, 0, 255, 0.3);
}

.irs--round .irs-handle.state_hover,
.irs--round .irs-handle:hover {
  background-color: #f0f6ff;
}

.irs--round .irs-min,
.irs--round .irs-max {
  color: #333;
  font-size: 14px;
  line-height: 1;
  top: 0;
  padding: 3px 5px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.irs--round .irs-from,
.irs--round .irs-to,
.irs--round .irs-single {
  font-size: 14px;
  line-height: 1;
  text-shadow: none;
  padding: 3px 5px;
  background-color: #006cfa;
  color: white;
  border-radius: 4px;
}

.irs--round .irs-from:before,
.irs--round .irs-to:before,
.irs--round .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #006cfa;
}

.irs--round .irs-grid {
  height: 25px;
}

.irs--round .irs-grid-pol {
  background-color: #dedede;
}

.irs--round .irs-grid-text {
  color: silver;
  font-size: 13px;
}

.irs--square {
  height: 50px;
}

.irs--square.irs-with-grid {
  height: 60px;
}

.irs--square .irs-line {
  top: 31px;
  height: 4px;
  background-color: #dedede;
}

.irs--square .irs-bar {
  top: 31px;
  height: 4px;
  background-color: black;
}

.irs--square .irs-shadow {
  height: 2px;
  bottom: 21px;
  background-color: #dedede;
}

.irs--square .irs-handle {
  top: 25px;
  width: 16px;
  height: 16px;
  border: 3px solid black;
  background-color: white;
  transform: rotate(45deg);
}

.irs--square .irs-handle.state_hover,
.irs--square .irs-handle:hover {
  background-color: #f0f6ff;
}

.irs--square .irs-min,
.irs--square .irs-max {
  color: #333;
  font-size: 14px;
  line-height: 1;
  top: 0;
  padding: 3px 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

.irs--square .irs-from,
.irs--square .irs-to,
.irs--square .irs-single {
  font-size: 14px;
  line-height: 1;
  text-shadow: none;
  padding: 3px 5px;
  background-color: black;
  color: white;
}

.irs--square .irs-grid {
  height: 25px;
}

.irs--square .irs-grid-pol {
  background-color: #dedede;
}

.irs--square .irs-grid-text {
  color: silver;
  font-size: 11px;
}

.jq-ry-container {
  position: relative;
  padding: 0 5px;
  line-height: 0;
  display: block;
  cursor: pointer;
  box-sizing: content-box;
  direction: ltr;
}

.jq-ry-container[readonly=readonly] {
  cursor: default;
}

.jq-ry-container > .jq-ry-group-wrapper {
  position: relative;
  width: 100%;
}

.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group {
  position: relative;
  line-height: 0;
  z-index: 10;
  white-space: nowrap;
}

.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group > svg {
  display: inline-block;
}

.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group.jq-ry-normal-group {
  width: 100%;
}

.jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group.jq-ry-rated-group {
  width: 0;
  z-index: 11;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.jq-checkbox,
.jq-radio {
  position: relative;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.jq-checkbox input,
.jq-radio input {
  position: absolute;
  z-index: -1;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.jq-file {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.jq-file input {
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  margin: 0;
  padding: 0;
  opacity: 0;
  font-size: 100px;
  line-height: 1em;
}

.jq-file__name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.jq-selectbox,
.jq-select-multiple {
  position: relative;
  display: inline-block;
}

.jq-selectbox select,
.jq-select-multiple select {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
}

.jq-selectbox li,
.jq-select-multiple li {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.jq-selectbox {
  z-index: 10;
}

.jq-selectbox__select {
  position: relative;
}

.jq-selectbox__select-text {
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.jq-selectbox__dropdown {
  position: absolute;
}

.jq-selectbox__search input {
  -webkit-appearance: textfield;
}

.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.jq-selectbox__dropdown ul {
  position: relative;
  overflow: auto;
  overflow-x: hidden;
  list-style: none;
  -webkit-overflow-scrolling: touch;
}

.jq-select-multiple ul {
  position: relative;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.jq-number {
  display: inline-block;
}

.jq-number__field input {
  -moz-appearance: textfield;
  text-align: left; /* для Opera Presto */
}

.jq-number__field input::-webkit-inner-spin-button,
.jq-number__field input::-webkit-outer-spin-button {
  margin: 0; /* в каких-то браузерах присутствует отступ */
  -webkit-appearance: none;
}

html,
body {
  height: 100%;
}

body {
  background-color: #fff;
  font-size: 16px;
  line-height: 1.2;
  color: #7d7d7d;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.container--lg {
  max-width: 1800px;
}

.title {
  text-align: center;
  font-size: 36px;
  color: #191919;
  margin-bottom: 40px;
}

.btn {
  max-width: 200px;
  width: 100%;
  background-color: #a3bbc8;
  padding: 24px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 15px;
  transition: background-color 0.3s;
  cursor: pointer;
}
.btn:hover {
  background-color: #869ca8;
}

.breadcrumbs__list {
  display: flex;
  justify-content: center;
  position: relative;
}
.breadcrumbs__item {
  padding-right: 25px;
  position: relative;
}
.breadcrumbs__item::after {
  content: "/";
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  right: 9px;
  bottom: 0;
}
.breadcrumbs__item:last-child {
  padding-right: 0;
}
.breadcrumbs__item:last-child::after {
  display: none;
}
.breadcrumbs__link {
  font-size: 14px;
  font-weight: 400;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 110px;
}
.pagination__list {
  display: flex;
}
.pagination__link, .pagination__next {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #243f4d;
  background-color: transparent;
  border: 1px solid #a3bbc8;
  margin-right: 15px;
  transition: background-color 0.3s;
}
.pagination__link:hover:not(.active), .pagination__next:hover:not(.active) {
  background-color: #edf1f4;
}
.pagination__next {
  width: 75px;
}
.pagination .active {
  background-color: #a3bbc8;
  color: #fff;
}

.header {
  padding: 50px 0;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #436372;
}
.header__logo {
  display: flex;
  padding-right: 170px;
  font-size: 36px;
  color: #436372;
}
.header__logo span {
  margin-left: 15px;
}
.header__checkbox {
  position: absolute;
  visibility: hidden;
}
.header__list {
  display: flex;
}
.header__item:not(:last-child) {
  margin-right: 35px;
}
.header__link {
  font-size: 15px;
  color: #69828e;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s;
}
.header__link:hover {
  border-color: #69828e;
}
.header__btn {
  display: flex;
}
.header__search, .header__library {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__search {
  background-color: #edf1f4;
  margin-right: 20px;
  transition: background-color 0.3s;
}
.header__search:hover {
  background-color: #cbe2f4;
}
.header__library {
  background-color: #a3bbc8;
  margin-left: 20px;
  transition: background-color 0.3s;
}
.header__library:hover {
  background-color: #869ca8;
}
.header__cart, .header__heart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 90px;
  background-color: #fcd7b6;
  padding-top: 5px;
  position: relative;
  transition: background-color 0.3s;
}
.header__cart:hover, .header__heart:hover {
  background-color: #d7b597;
}
.header__cart span, .header__heart span {
  position: absolute;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 10px;
  color: #6d7f88;
  top: 10px;
}
.header__cart {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-right: 10px;
}
.header__cart span {
  right: 32px;
}
.header__heart {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-left: 10px;
}
.header__heart span {
  right: 18px;
}
.header__heart::after {
  content: "";
  width: 1px;
  height: 30px;
  background-color: #fde7d3;
  position: absolute;
  top: 9px;
  right: -0.5px;
  z-index: 2;
}

@media (max-width: 1280px) {
  .header__logo {
    padding-right: 15px;
  }
  .header__item:not(:last-child) {
    margin-right: 15px;
  }
}
@media (max-width: 1024px) {
  .header__nav {
    order: 1;
  }
  .header__list {
    transform: translateY(-200%);
    position: absolute;
    top: 120px;
    width: 100%;
    left: 0;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    transition: transform 0.5s;
    background-color: white;
  }
  .header__checkbox:checked ~ .header__list {
    transform: translateY(0%);
  }
  .header__item:not(:last-child) {
    margin-right: 0px;
  }
  .header__item {
    width: 100%;
    text-align: center;
  }
  .header__link {
    display: block;
    padding: 10px 0px;
    margin: 0 15px;
    transition: background-color 0.3s;
  }
  .header__link:hover {
    background-color: #edf1f4;
  }
  .header__burger {
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #a3bbc8;
    transition: background-color 1s;
  }
  .header__burger::before {
    top: 0;
    box-shadow: 0 11px 0 #a3bbc8;
    transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
  }
  .header__burger::after {
    bottom: 0;
    transition: bottom 0.3s 0.15s, transform 0.3s;
  }
  .header__burger:hover::before, .header__burger:hover::after {
    background: #436372;
    transition: background-color 0.3s;
  }
  .header__burger:hover::before {
    box-shadow: 0 11px 0 #436372;
    transition: color 0.3s;
  }
  .header__checkbox:checked + .header__burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
  }
  .header__checkbox:checked + .header__burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom 0.3s, transform 0.3s 0.15s;
  }
}
@media (max-width: 768px) {
  .header__nav {
    order: 0;
  }
  .header__list {
    top: 185px;
  }
  .header__inner {
    flex-wrap: wrap;
  }
  .header__btn {
    width: 100%;
    justify-content: center;
    margin-top: 25px;
  }
}
.breadcrumbs {
  text-align: center;
  background-color: #edf1f4;
  padding: 30px 0 30px;
}
.breadcrumbs__title {
  font-size: 36px;
  color: #191919;
}

.mission {
  padding: 120px 0;
}
.mission__img {
  width: 50%;
}
.mission__inner {
  display: flex;
  gap: 50px;
}
.mission__wrapper {
  width: 50%;
}
.mission__experience {
  padding: 60px 0 30px;
  display: flex;
  align-items: end;
}
.mission__years {
  font-size: 140px;
  color: #a3bbc8;
  line-height: 1;
  padding-right: 30px;
}
.mission__slogan {
  color: #243f4d;
  line-height: 1.9;
  padding-bottom: 15px;
}
.mission__value {
  font-size: 36px;
  color: #191919;
  text-align: left;
  margin-bottom: 0px;
}
.mission__title {
  text-align: start;
}
.mission__text {
  line-height: 1.9;
  padding: 40px 0 55px;
}
.mission__stats {
  display: flex;
  justify-content: space-around;
  position: relative;
}
.mission__stats::after {
  content: "";
  width: 500px;
  height: 2px;
  background-color: #dbdfe6;
  position: absolute;
  top: 0;
  left: 0;
}
.mission__stat {
  padding: 40px 30px 30px 80px;
  position: relative;
}
.mission__stat::before {
  position: absolute;
  top: 52px;
  left: 22px;
}
.mission__stat:nth-child(1)::before {
  content: url(../images/icon/projects.svg);
}
.mission__stat:nth-child(2)::before {
  content: url(../images/icon/revenue.svg);
}
.mission__stat:nth-child(3)::before {
  content: url(../images/icon/awards.svg);
}
.mission__stat:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 80px;
  background-color: #dbdfe6;
  position: absolute;
  bottom: 20px;
  right: 0px;
}

@media (max-width: 1280px) {
  .mission {
    padding: 80px 0;
  }
  .mission__inner {
    flex-direction: column;
  }
  .mission__img {
    width: 100%;
    height: 550px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .mission__wrapper {
    width: 100%;
  }
  .mission__experience {
    justify-content: center;
    padding-top: 0;
  }
  .mission__stats::after {
    content: "";
    width: 100%;
  }
  .mission__stat {
    width: 100%;
  }
  .mission__title {
    display: flex;
    justify-content: center;
  }
  .mission__text {
    padding-top: 0;
  }
}
@media (max-width: 768px) {
  .mission__img {
    height: 350px;
  }
  .mission__years {
    font-size: 120px;
  }
  .mission__stat {
    padding: 40px 20px 30px 65px;
  }
  .mission__stat::before {
    left: 12px;
  }
  .mission__value {
    font-size: 32px;
  }
}
@media (max-width: 480px) {
  .mission {
    padding: 60px 0;
  }
  .mission__img {
    height: 250px;
  }
  .mission__stats {
    flex-wrap: wrap;
  }
  .mission__stat {
    width: 100%;
    padding: 20px 10px 20px 80px;
  }
  .mission__stat::before {
    left: 22px;
    top: 28px;
  }
  .mission__stat:not(:last-child)::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #dbdfe6;
    position: absolute;
    bottom: 0;
  }
  .mission__text {
    padding-bottom: 30px;
  }
}
.stats {
  background-color: #fcd7b6;
  margin-bottom: 120px;
}
.stats__items {
  display: flex;
  justify-content: space-around;
  padding: 80px 0;
}
.stats__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #243f4d;
  font-size: 18px;
}
.stats__value {
  font-size: 36px;
  margin: 15px 0;
}
.stats img {
  position: relative;
  z-index: 1;
}
.stats__img {
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
}
.stats__img::after {
  content: "";
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #a3bbc8;
  position: absolute;
  bottom: -10px;
  right: -10px;
  z-index: 0;
}

@media (max-width: 1024px) {
  .stats {
    margin-bottom: 80px;
  }
  .stats__items {
    padding: 60px 0;
  }
  .stats p {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .stats__items {
    flex-wrap: wrap;
  }
  .stats__value {
    font-size: 32px;
    margin: 10px 0;
  }
  .stats__item {
    width: 170px;
    margin: 20px 40px;
  }
}
.team {
  margin-bottom: 120px;
}
.team__inner {
  display: flex;
  justify-content: space-between;
}
.team__content {
  width: 25%;
  margin-right: 100px;
}
.team__title {
  text-align: start;
}
.team__text {
  line-height: 1.9;
  color: #243f4d;
  margin-bottom: 45px;
}
.team__button {
  width: 170px;
  border-radius: 4px;
  padding: 16px 25px;
}
.team__people {
  max-width: 770px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.team__person {
  max-width: 370px;
  width: 100%;
  margin-bottom: 60px;
  position: relative;
}
.team__wrapper {
  width: 325px;
  height: 110px;
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.15);
  position: absolute;
  bottom: -55px;
  left: 0;
}
.team__name {
  font-size: 22px;
  color: #436372;
  margin-bottom: 15px;
}
.team__socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}
.team__social {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #edf1f4;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}
.team__social:not(:last-child) {
  margin-right: 5px;
}
.team__social:hover {
  background-color: #cbe2f4;
}

@media (max-width: 1280px) {
  .team__content {
    margin-right: 40px;
  }
  .team__people {
    max-width: 760px;
    gap: 20px;
  }
}
@media (max-width: 1024px) {
  .team__content {
    width: 100%;
    max-width: 732px;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .team__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .team__people {
    max-width: 738px;
  }
  .team__person {
    max-width: 359px;
  }
}
@media (max-width: 768px) {
  .team__content {
    width: 100%;
    max-width: 450px;
  }
  .team__people {
    justify-content: center;
  }
  .team__person {
    max-width: 450px;
  }
  .team__img {
    width: 100%;
  }
}
@media (max-width: 360px) {
  .team__wrapper {
    padding: 10px 10px;
    max-width: 100%;
    flex-wrap: wrap;
  }
  .team__name {
    font-size: 18px;
    margin-bottom: 5px;
  }
}
.articles {
  position: relative;
}
.articles::before {
  content: "";
  height: 167px;
  width: 100%;
  background-color: #fef7f0;
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: -1;
}
.articles__inner {
  position: relative;
}
.articles__all {
  font-size: 16px;
  color: #191919;
  margin-right: 10px;
  transition: color;
  position: absolute;
  top: -62px;
  right: -8px;
  transition: color 0.3s;
}
.articles__all svg {
  margin-left: 10px;
}
.articles__all:hover {
  color: #696868;
}
.articles__all:hover path {
  fill: #696868;
}
.articles__title {
  display: flex;
  align-items: start;
}
.articles__items {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.articles__item {
  max-width: 370px;
  width: 100%;
  background-color: #fff;
  color: #262626;
  position: relative;
  cursor: pointer;
  z-index: 1;
  transition: box-shadow 0.3s;
}
.articles__item:hover {
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.2);
}
.articles__item img {
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.articles__tags {
  display: flex;
  position: absolute;
  top: -15px;
  left: 30px;
}
.articles__tag {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  background-color: #a3bbc8;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.articles__wrapper {
  position: relative;
  padding: 35px 25px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 167px;
  max-height: 167px;
  max-width: 100%;
  width: 100%;
}
.articles__name {
  font-size: 18px;
  padding-bottom: 15px;
}
.articles__info {
  padding: 17px 0 0px;
  font-size: 12px;
  text-transform: uppercase;
  border-top: 1px solid #e0e0e0;
  display: flex;
  justify-content: flex-start;
  position: relative;
}
.articles__data {
  margin-right: 20px;
}

@media (max-width: 1024px) {
  .articles::before {
    content: "";
    height: 160px;
  }
  .articles__items {
    gap: 15px;
  }
  .articles__item {
    max-width: 310px;
  }
  .articles__wrapper {
    height: 160px;
    padding: 35px 10px 20px;
  }
  .articles__name {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .articles::before {
    display: none;
  }
  .articles__items {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
  }
  .articles__item {
    max-width: 450px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
  }
  .articles__item img {
    width: calc(100% + 3px);
    max-width: calc(100% + 3px);
    margin-left: -1px;
  }
  .articles__wrapper {
    max-height: 140px;
  }
}
@media (max-width: 480px) {
  .articles .title {
    text-align: left;
    margin-bottom: 50px;
  }
  .articles__all {
    top: -40px;
  }
}
@media (max-width: 480px) {
  .articles__wrapper {
    max-height: 155px;
  }
}
.partners {
  background-color: #fef7f0;
  text-align: -webkit-center;
  position: relative;
}
.partners__items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 90px 0;
}

@media (max-width: 768px) {
  .partners__items {
    flex-wrap: wrap;
    margin: 0 30px;
    padding: 45px 0;
  }
  .partners__items img {
    margin: 20px 20px;
  }
}
.footer {
  font-size: 14px;
}
.footer__top {
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 36px;
  color: #436372;
  margin-bottom: 24px;
}
.footer__logo span {
  margin-left: 15px;
}
.footer__contact {
  display: flex;
  flex-direction: column;
}
.footer__contact, .footer__services, .footer__account {
  width: 200px;
  margin-right: 100px;
}
.footer__newsletter {
  width: 270px;
}
.footer__title {
  font-size: 16px;
  color: #1f2044;
  text-transform: uppercase;
  margin: 20px 0 25px;
}
.footer .title-list {
  pointer-events: none;
}
.footer__address, .footer__phone {
  margin-bottom: 16px;
}
.footer__address, .footer__phone, .footer__email {
  transition: color 0.3s;
}
.footer__address span, .footer__phone span, .footer__email span {
  text-transform: uppercase;
}
.footer__address:hover, .footer__phone:hover, .footer__email:hover {
  color: #1f2044;
}
.footer__item:not(:last-child) {
  margin-bottom: 16px;
}
.footer__link {
  transition: color 0.3s;
}
.footer__link:hover {
  color: #1f2044;
}
.footer__form {
  display: flex;
  align-items: flex-end;
}
.footer__input {
  background-color: #fef7f0;
  color: #17262d;
  max-width: 170px;
  font-size: 12px;
  font-weight: 200;
  width: 100%;
  border: none;
  padding: 15px;
  margin-top: 40px;
}
.footer__input::-moz-placeholder {
  color: #436372;
}
.footer__input::placeholder {
  color: #436372;
}
.footer__button {
  border: none;
  width: 100px;
  background-color: #a3bbc8;
  font-size: 12px;
  font-weight: 200;
  color: #fff;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.footer__button:hover {
  background-color: #869ca8;
}
.footer__bottom {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #dae4e9;
}
.footer__nav {
  display: flex;
}
.footer__bottom .footer__item {
  position: relative;
}
.footer__bottom .footer__item:not(:last-child) {
  margin-right: 28px;
}
.footer__bottom .footer__item:not(:last-child)::before {
  content: "";
  height: 17px;
  width: 1px;
  background-color: #7d7d7d;
  position: absolute;
  right: -14px;
}

@media (max-width: 1024px) {
  .footer__services, .footer__account {
    width: 130px;
    margin-right: 50px;
  }
  .footer__contact {
    margin-right: 50px;
  }
}
@media (max-width: 768px) {
  .footer__top {
    flex-wrap: wrap;
  }
  .footer__newsletter {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .footer__top {
    padding: 50px 0;
  }
  .footer__bottom {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__services, .footer__account, .footer__newsletter {
    margin-top: 30px;
  }
  .footer__contact {
    margin-right: 100px;
  }
}
@media (max-width: 360px) {
  .footer__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .footer__title {
    margin: 15px 0;
  }
  .footer__services, .footer__account, .footer__newsletter {
    margin-top: 10px;
  }
}/*# sourceMappingURL=about.css.map */