.product {
  margin: 125px 0;
  @extend %Rubik-r;
  color: $title;

  &__inner {
    display: flex;
    margin-bottom: 80px;
  }

  &__slide {
    margin-right: 70px;
    display: flex;
  }

  &__slide-thumbs {
    width: 138px;
    margin-right: 25px;
  }

  &__slide-thumb {
    margin-bottom: 21px;
    cursor: pointer;
  }

  &__slide-big {
    width: 387px;
  }

  &__content {
    max-width: 550px;
  }

  &__title {
    margin: 30px 0 20px;
    font-size: 40px;
  }

  &__price {
    margin-top: 30px;
    font-size: 30px;
  }

  &__text {
    margin: 30px 0;
    line-height: 1.8;
  }

  &__btn {
    display: inline;
    margin-left: 15px;
    text-transform: uppercase;
    @extend %Rubik-r;
    border-radius: 5px;
    padding: 17px 55px;
    max-width: 210px;
  }

  &__tabs {
    display: flex;
    justify-content: center;
  }

  &__tab {
    max-width: 245px;
    width: 100%;
    background-color: $light-gray;
    border-radius: 5px;
    padding: 15px 10px;
    text-align: center;
    @extend %Rubik;
    color: $dark-gray;
    font-size: 18px;
    transition: background-color, color 0.3s;
    cursor: pointer;

    &:not(:first-child) {
      margin-left: 15px;
    }

    &:hover {
      background-color: $gray;
    }

    &.product__tab--active {
      background-color: $gray;
      color: #fff;
    }
  }

  &__text-content {
    margin: 30px 0;
    line-height: 1.8;
    display: none;

    &.product__text-content--active {
      display: block;
    }
  }

  &__container {
    max-width: 1200px;
    margin: 0 auto;
  }

  .slick-list {
    padding: 20px 0;
    margin: -20px 0;
  }

  &__related {
    margin-top: 100px;
  }

  &__related-title {
    display: flex;
    align-items: start;
    margin-bottom: 50px;
    padding: 0 15px;
  }

  &__slick-prev,
  &__slick-next {
    width: 50px;
    height: 50px;
    border: 2px solid $light-gray;
    border-radius: 3px;
    padding-left: 13px;
    cursor: pointer;
    position: absolute;
    top: -75px;
    right: 15px;
    transition: border-color 0.3s;

    &:hover {
      border-color: $gray;
    }
  }

  &__slick-prev {
    right: 105px;
  }

  &__item {
    padding: 20px 15px;
  }

  .jq-number {
    position: relative;
    padding: 0;

    input {
      border-color: transparent;
    }

    &__field {
      width: 150px;
      border: 1px solid $gray;
      transform: translateY(1px);

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 48px;
        width: 1px;
        height: 50px;
        background-color: $gray;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0px;
        right: 48px;
        width: 1px;
        height: 50px;
        background-color: $gray;
      }
    }

    &__field input {
      text-align: center;
      width: 100%;
      height: 50px;
      color: $dark-gray;
    }

    &__spin {
      position: absolute;
      cursor: pointer;
      width: 40px;
      height: 40px;
      top: 50%;
      transform: translateY(-50%);

      &.minus {
        left: 5px;
      }

      &.plus {
        right: 5px;

        &::before {
          content: '';
          position: absolute;
          top: 14px;
          left: 20px;
          width: 0.5px;
          height: 10px;
          background-color: $dark-gray;
          ;
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 19px;
        left: 15px;
        width: 10px;
        height: 1px;
        background-color: $dark-gray;
      }
    }
  }
}

.product-card {
  height: 380px;
  max-width: 270px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center 50px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  cursor: pointer;
  position: relative;

  &:hover &__zoom,
  &:hover &__favourite,
  &:hover &__cart {
    opacity: 1;
  }

  &__img {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    max-width: 75%;
  }

  &__wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    padding-bottom: 80px;
  }

  &__zoom,
  &__favourite,
  &__cart {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $yellow;
    transition: background-color 0.3s, opacity 0.3s;
    cursor: pointer;
    opacity: 0;

    &:not(:first-child) {
      margin-left: 10px;
    }

    path {
      transition: color 0.3s;
    }

    &:hover {
      background-color: $blue;
      color: #fff;

      path {
        fill: #fff;
      }
    }
  }

  &__name {
    color: $dark-gray;
    @extend %Rubik-r;
  }

  &__price {
    color: $blue;
    margin: 10px 0 25px;
  }

  &__star,
  &__text,
  &__cart-text {
    display: none;
  }


  &.product-card--list {
    max-width: 870px;
    height: 450px;
    display: flex;
    flex-direction: row;
    box-shadow: none;

    .product-card__wrapper-box {
      display: flex;
      flex-direction: column;
      max-width: 500px;
      padding: 60px 30px 60px 50px;
      text-align: left;
      @extend %Rubik-r;
    }

    .product-card__img {
      height: 100%;
      width: 375px;
      border: 1px solid $gray;
    }

    img {
      max-width: 100%;
    }

    .product-card__star,
    .product-card__text {
      display: block;
    }

    .product-card__zoom {
      display: none;
    }

    .favourite,
    .svg-cart {
      display: none;
    }

    .product-card__cart-text {
      height: 50px;
      width: 210px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $gray;
      text-transform: uppercase;
      z-index: 3;
      transition: color 0.3s;

      &:hover {
        color: #fff;
      }
    }

    .product-card__favourite,
    .product-card__cart {
      border-radius: 0;
      background-color: $light-gray;
      opacity: 1;
      transition: background-color 0.3s;

      &:hover {
        background-color: $blue;
      }
    }

    .cart {
      display: flex;
      width: 210px;
      border-radius: 4px;
      background-color: $light-gray;
    }

    .product-card__wrapper {
      position: static;
      justify-content: flex-start;
      padding-bottom: 0;
      left: 0;
      top: 0;
      transform: none;
      order: 4;
    }

    .product-card__name {
      font-size: 40px;
      margin-bottom: 10px;
    }

    .product-card__price {
      font-size: 30px;
      color: $title;
      margin: 20px 0;
    }

    .product-card__text {
      color: $dark-gray;
      line-height: 1.7;
      margin-bottom: 45px;
    }
  }
}

@media (max-width:1280px) {
  .product {
    &__slide {
      margin-left: auto;
      margin-right: 50px;
    }

    &__content {
      max-width: 400px;
      margin-right: auto;
    }
  }

  .itc-slider-item {
    flex: 0 0 33%;
  }
}

@media (max-width:1024px) {
  .product {
    &__slide {
      margin-right: 30px;
    }

    &__slide-thumbs {
      display: none;
    }

    &__title {
      margin-top: 0;
    }

    &__price {
      margin-top: 15px;
    }

    &__text {
      margin: 15px 0;
    }

    &__btn {
      display: block;
      margin-left: 0;
      margin-top: 20px;
    }
  }
}


@media (max-width:768px) {
  .product {
    margin: 85px 0;

    &__inner {
      flex-direction: column;
    }

    &__slide {
      justify-content: center;
      margin-right: auto;
      margin-bottom: 30px;
    }

    &__btn {
      display: inline;
      margin-left: 15px;
      margin-top: 0;
    }

    &__tabs {
      flex-direction: column;
    }

    &__tab {
      max-width: 100%;

      &:not(:first-child) {
        margin-left: 0;
        margin-top: 15px;
      }
    }

    &__related {
      margin-top: 60px;
    }
  }

}

@media (max-width:480px) {
  .product {
    &__btn {
      display: block;
      margin-left: 0;
      margin-top: 20px;
    }

    &__slick-prev,
    &__slick-next {
      top: -70px;
      left: 15px;
    }

    &__slick-next {
      left: 105px;
    }

    &__related-title {
      margin-bottom: 110px;
    }

    &__slide-big {
      max-width: 300px;
    }
  }

}