html,
body {
  height: 100%;
}

body {
  background-color: #fff;
  @extend %DMSans;
  font-size: 16px;
  line-height: 1.2;
  color: #7d7d7d;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  &--lg {
    max-width: 1800px;
  }
}

.title {
  text-align: center;
  @extend %DMSans;
  font-size: 36px;
  color: $title;
  margin-bottom: 40px;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.tab {
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.button {
  color: #7d7d7d;
  transition: color 0.3s;
  cursor: pointer;

  &:hover,
  /*.mixitup-control-active*/
    {
    color: $title;
  }

}

.mixitup-control-active {
  color: $title;
}

.btn {
  max-width: 200px;
  width: 100%;
  background-color: #a3bbc8;
  padding: 24px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @extend %Rubik;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}