html,
body {
  height: 100%;
}

body {
  background-color: #fff;
  @extend %DMSans;
  font-size: 16px;
  line-height: 1.2;
  color: $global;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  &--lg {
    max-width: 1800px;
  }
}

.title {
  text-align: center;
  @extend %DMSans;
  font-size: 36px;
  color: $title;
  margin-bottom: 40px;
}

.btn {
  max-width: 200px;
  width: 100%;
  background-color: $gray;
  padding: 24px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @extend %Rubik;
  color: #fff;
  font-size: 15px;
  transition: background-color 0.3s;
  cursor: pointer;

  &:hover {
    background-color: $gray-hover;
  }
}

.breadcrumbs {
  &__list {
    display: flex;
    justify-content: center;
    position: relative;
  }

  &__item {
    padding-right: 25px;
    position: relative;

    &::after {
      content: '/';
      @extend %Rubik-r;
      font-size: 14px;
      font-weight: 400;
      position: absolute;
      right: 9px;
      bottom: 0;
    }

    &:last-child {
      padding-right: 0;

      &::after {
        display: none;
      }
    }
  }

  &__link {

    @extend %Rubik-r;
    font-size: 14px;
    font-weight: 400;

  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 110px;

  &__list {
    display: flex;
  }

  &__link,
  &__next {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark-gray;
    background-color: transparent;
    border: 1px solid $gray;
    margin-right: 15px;
    transition: background-color 0.3s;

    &:hover:not(.active) {
      background-color: $light-gray;
    }
  }

  &__next {
    width: 75px;
  }

  .active {
    background-color: $gray;
    color: #fff;
  }
}