html,
body {
  height: 100%;
}

body {
  background-color: #fff;
  @extend %DMSans;
  font-size: 16px;
  line-height: 1.2;
  color: #7d7d7d;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;

  &--lg {
    max-width: 1800px;
  }
}