$title: #191919;

%DMSans {
  font-family: 'DMSans', sans-serif;
  font-weight: 700;
}

%Rubik {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}


@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{a}x(#{$numbers});
}