$title: #191919;
$orange: #fcd7b6;
$orange-hover: #d7b597;
$gray: #a3bbc8;
$gray-hover: #869ca8;
$light-gray: #edf1f4;
$light-gray-hover: #cbe2f4;
$beige: #fef7f0;
$logo: #436372;
$global: #7d7d7d;
$yellow: #fef7f0;
$blue: #a3bbc8;
$dark-gray: #243f4d;
$dark-blue: #69828e;
$crema: #feefe2;

%DMSans {
  font-family: 'DMSans', sans-serif;
  font-weight: 700;
}

%Rubik {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%Rubik-r {
  font-family: 'Rubik-regular', sans-serif;
  font-weight: 400;
}

%Rubik-l {
  font-family: 'Rubik-light', sans-serif;
  font-weight: 300;
}

%checkbox-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{a}x(#{$numbers});
}