@import 'fonts';
@import 'vars';
@import 'reset';
@import 'global';

.header {
  padding: 50px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %Rubik;
    color: #436372;
  }

  &__logo {
    display: flex;
    padding-right: 170px;
    font-size: 36px;
    color: #436372;
  }

  &__logo span {
    margin-left: 15px;
  }

  &__list {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 35px;
  }

  &__link {
    font-size: 15px;
    color: #69828e;
    transition: all 0.3s;
  }

  &__link:hover {
    border-bottom: 1px solid #69828e;
  }

  &__btn {
    display: flex;
  }

  &__search,
  &__library {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__search {
    background-color: #edf1f4;
    margin-right: 20px;
    transition: background-color 0.3s;
  }

  &__search:hover {
    background-color: #c0c4c8;
  }

  &__library {
    background-color: #a3bbc8;
    margin-left: 20px;
    transition: background-color 0.3s;
  }

  &__library:hover {
    background-color: #869ca8;
  }

  &__cart,
  &__heart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 90px;
    background-color: #fcd7b6;
    padding-top: 5px;
    position: relative;
    transition: background-color 0.3s;
  }

  &__cart:hover {
    background-color: #d7b597;
  }

  &__heart:hover {
    background-color: #d7b597;
  }

  &__cart {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-right: 10px;
  }

  &__heart {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-left: 10px;
  }

  &__cart span,
  &__heart span {
    position: absolute;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    @extend %DMSans;
    font-size: 10px;
    color: #6d7f88;
  }

  &__cart span {
    top: 10px;
    right: 32px;
  }

  &__heart span {
    top: 10px;
    right: 18px;
  }

  &__heart::after {
    content: "";
    width: 2px;
    height: 30px;
    background-color: #fde7d3;
    position: absolute;
    top: 9px;
    left: 89px;
    z-index: 2;
  }


}

.main__block {
  height: 20px;
  background-color: #f7f2f2;
}

.footer {
  font-size: 14px;

  &__top {
    padding: 80px 0;
    display: flex;
  }

  &__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 36px;
    color: #436372;
    margin-bottom: 24px;
  }

  &__logo span {
    margin-left: 15px;
  }

  &__contact {
    display: flex;
    flex-direction: column;
  }

  &__contact,
  &__services,
  &__account {
    width: 200px;
    margin-right: 100px;
  }

  &__form {
    width: 270px;
  }

  &__title {
    font-size: 16px;
    color: #1f2044;
    text-transform: uppercase;
    margin: 15px 0 25px;
  }

  &__address,
  &__phone {
    margin-bottom: 16px;
  }

  &__item:not(:last-child) {
    margin-bottom: 16px;
  }

  &__link,
  &__contact,
  & p {
    @extend %Rubik;
  }

  &__link {
    transition: color 0.3s;
  }

  &__link:hover {
    color: #1f2044;
  }

  &__input {
    background-color: #fef7f0;
    color: #6e8c9a;
    max-width: 170px;
    font-size: 12px;
    font-weight: 200;
    width: 100%;
    border: none;
    padding: 15px;
    margin-top: 40px;

    &::placeholder {
      color: #436372;
    }
  }

  &__button {
    border: none;
    background-color: #a3bbc8;
    font-size: 12px;
    font-weight: 200;
    color: #fff;
    padding: 15px;
    cursor: pointer;
    transition: ackground-color 0.3s;
  }

  &__button:hover {
    background-color: #869ca8;
  }

  &__bottom {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #dae4e9;
  }

  &__nav {
    display: flex;
  }

  &__menu {
    position: relative;
  }

  &__menu+.footer__menu {
    margin-left: 28px;
  }

  &__menu:not(:last-child)::before {
    content: "";
    height: 17px;
    width: 1px;
    background-color: #7d7d7d;
    position: absolute;
    right: -14px;
    top: 1px;
  }


}










@import 'media';