.shop {
  padding: 90px 0 120px;

  &__inner {
    display: flex;
  }

  &__filter {
    max-width: 270px;
    width: 100%;
    margin-right: 30px;
  }

  &__filter-buttons {
    background-color: #fff;
    padding: 15px 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__filter-btn {
    margin-left: 15px;
    cursor: pointer;

    &.shop__filter-btn--active {
      path {
        fill: $dark-gray;
      }
    }
  }

  &__content-product {
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 40px;
  }
}

.filter {
  &__form {
    margin-top: 60px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__search {
    display: flex;

    input {
      border: 2px solid $light-gray;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      width: 255px;
      height: 45px;
      padding: 0 5px 0 15px;
    }

    button {
      border: none;
      background-color: $light-gray;
      width: 45px;
      height: 45px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: $light-gray-hover;
      }
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 18px;
    color: $dark-gray;
    margin-bottom: 30px;
    display: table;
    position: relative;

    &::after {
      content: '';
      height: 3px;
      width: 40px;
      background-color: $gray;
      position: absolute;
      right: -55px;
      bottom: 9px;
      margin-left: auto;
    }
  }

  &__label {
    display: flex;
    justify-content: space-between;
    @extend %Rubik;
    font-size: 16px;
    color: $dark-gray;
    cursor: pointer;
  }

  &__input {
    @extend %checkbox-hidden;

    &:checked+.filter__checkbox {
      background-color: $light-gray;

      & .filter__sum {
        color: $dark-gray;
      }
    }
  }


  &__checkbox {
    padding: 10px 15px;
    width: 100%;
    border-radius: 4px;
    background-color: #fff;
    color: $dark-gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__sum {
    color: #b3b3b3;
  }

  &__items {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 7px;
    transition: border-color 0.3s;

    &:hover {
      border-color: $gray;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .title-list {
    pointer-events: none;
  }

  &__item-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border: 1px solid #f2f2f2;
  }

  &__item-info {
    width: 115px;
    padding: 3px 0 3px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @extend %Rubik;
    font-size: 14px;
    color: $dark-gray;
  }

  .jq-ry-container {
    padding: 0;
  }

  .irs {
    &--flat .irs-line {
      background-color: $gray;
      height: 2px;
      top: 0;
    }

    &--flat .irs-bar {
      background-color: $gray;
      height: 4px;
      top: 0;
    }

    &--flat .irs-handle {
      top: -5px;
      width: 15px;
      height: 15px;
      background-color: #a3bbc8;
    }

    &--flat .irs-handle>i:first-child {
      display: none;
    }

    &--flat .irs-max,
    .irs-min {
      display: none;
    }

    &-single {
      display: none;
    }

    &-from {
      display: none;
    }

    &-to {
      display: none;
    }

    &--flat {
      height: 30px;
    }
  }

  &__item {
    position: relative;
    display: block;
    cursor: pointer;
    padding-left: 90px;

    &:hover {
      .filter__text {
        color: $orange-hover;
      }
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__date {
    @extend %Rubik;
    text-transform: uppercase;
    position: relative;
    font-size: 12px;
    margin-left: 20px;

    &::before {
      content: url('../images/icon/calendar-gray.svg');
      position: absolute;
      top: 0px;
      left: -18px;
      z-index: 25;
    }
  }

  &__text {
    @extend %Rubik;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-left: 0px;
    color: $dark-gray;
    transition: color 0.3s;
  }
}

.product-card {
  height: 380px;
  max-width: 270px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center 50px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  cursor: pointer;
  position: relative;

  &:hover &__zoom,
  &:hover &__favourite,
  &:hover &__cart {
    opacity: 1;
  }

  &__img {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    max-width: 75%;
  }

  &__wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    padding-bottom: 80px;
  }

  &__zoom,
  &__favourite,
  &__cart {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $yellow;
    transition: background-color 0.3s, opacity 0.3s;
    cursor: pointer;
    opacity: 0;

    &:not(:first-child) {
      margin-left: 10px;
    }

    path {
      transition: color 0.3s;
    }

    &:hover {
      background-color: $blue;
      color: #fff;

      path {
        fill: #fff;
      }
    }
  }

  &__name {
    color: $dark-gray;
    @extend %Rubik-r;
  }

  &__price {
    color: $blue;
    margin: 10px 0 25px;
  }

  &__star,
  &__text,
  &__cart-text {
    display: none;
  }


  &.product-card--list {
    max-width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    box-shadow: none;

    .product-card__wrapper-box {
      display: flex;
      flex-direction: column;
      max-width: 500px;
      padding: 60px 30px 60px 50px;
      text-align: left;
      @extend %Rubik-r;
    }

    .product-card__img {
      height: 100%;
      width: 375px;
      border: 1px solid $gray;
    }

    img {
      max-width: 100%;
    }

    .product-card__star,
    .product-card__text {
      display: block;
    }

    .product-card__zoom {
      display: none;
    }

    .favourite,
    .svg-cart {
      display: none;
    }

    .product-card__cart-text {
      height: 50px;
      width: 210px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $gray;
      text-transform: uppercase;
      z-index: 3;
      transition: color 0.3s;

      &:hover {
        color: #fff;
      }
    }

    .product-card__favourite,
    .product-card__cart {
      border-radius: 0;
      background-color: $light-gray;
      opacity: 1;
      transition: background-color 0.3s;

      &:hover {
        background-color: $blue;
      }
    }

    .cart {
      display: flex;
      width: 210px;
      border-radius: 4px;
      background-color: $light-gray;
    }

    .product-card__wrapper {
      position: static;
      justify-content: flex-start;
      padding-bottom: 0;
      left: 0;
      top: 0;
      transform: none;
      order: 4;
    }

    .product-card__name {
      font-size: 40px;
      margin-bottom: 10px;
    }

    .product-card__price {
      font-size: 30px;
      color: $title;
      margin: 20px 0;
    }

    .product-card__text {
      color: $dark-gray;
      line-height: 1.7;
      margin-bottom: 45px;
    }
  }
}



@media (max-width:1280px) {
  .shop {
    &__inner {
      justify-content: space-between;
    }

    &__filter {
      width: 82%;
    }

    &__content {
      max-width: 100%;
    }

    &__content-product {
      justify-content: space-evenly;
      column-gap: 20px;
      row-gap: 30px;
    }
  }

  .product-card {
    height: 340px;
    max-width: 240px;

    &.product-card--list {
      height: 380px;

      .product-card__wrapper-box {
        padding: 30px 15px 30px 25px;
      }
    }
  }

  .product-card--list {
    .product-card__img {
      img {
        max-width: 70%;
      }
    }
  }
}


@media (max-width:1024px) {
  .product-card {
    height: 340px;
    max-width: 240px;

    &.product-card--list {
      height: 300px;

      .product-card__wrapper-box {
        padding: 0 15px;
      }

      .product-card__text {
        margin-bottom: 15px;
      }

      .product-card__price {
        margin: 10px 0;
      }

      .product-card__img {
        min-width: 200px;
      }
    }
  }
}

@media (max-width:768px) {
  .shop {
    &__inner {
      flex-direction: column;
    }

    &__filter {
      max-width: 100%;
      margin: 40px;
    }

    &__content-product {
      max-width: 100%;
    }
  }

  .filter {
    &__wrapper {
      display: none;
    }

    &__form {
      position: relative;


    }

    .title-list {
      pointer-events: auto;
      cursor: pointer;

      &::before {
        content: url(../images/icon/angle-down-2.svg);
        position: absolute;
        top: -6px;
        left: -25px;
      }
    }

    .active::before {
      transform: rotate(180deg);
    }
  }
}


@media (max-width:580px) {
  .shop {
    &__filter-buttons {
      display: none;
    }
  }
}