.video {

  &__inner {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 125px;
  }

  &__play {
    position: relative;
    z-index: 0;

    &::after {
      content: '';
      position: absolute;
      bottom: 0px;
      right: 0px;
      width: 130px;
      height: 130px;
      border-radius: 50%;
      background-color: $blue;
      opacity: 0.4;
      z-index: -1;
      transition: opacity 0.3s;
    }

    &:hover::after {
      opacity: 0.6;
    }
  }
}

@media (max-width:768px) {
  .video {
    &__inner {
      height: 400px;
      margin-bottom: 85px;
    }
  }
}

@media (max-width:480px) {
  .video {
    &__inner {
      height: 300px;
      margin-bottom: 55px;
    }
  }
}