.partners {
  background-color: $beige;
  text-align: -webkit-center;
  position: relative;

  &__items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 90px 0;

  }
}

@media (max-width:768px) {
  .partners {
    &__items {
      flex-wrap: wrap;
      margin: 0 30px;
      padding: 45px 0;

      img {
        margin: 20px 20px;
      }
    }
  }
}

@media (max-width:480px) {
  .partners {
    &__items {}
  }
}