.products {
  display: flex;

  &__tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }

  &__tab {
    &:not(:last-child) {
      margin-right: 30px;
    }

    button {
      color: $global;
      transition: color 0.3s;
      cursor: pointer;

      &:hover,
      &.mixitup-control-active {
        color: $title;
      }
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    row-gap: 40px;
    margin-bottom: 190px;
  }

  &__blocks {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 120px;
    justify-content: center;
  }

  &__block {
    max-width: 370px;
    width: 100%;
    height: 245px;
    background-color: #f8f8f8;
    padding: 40px 0 0 35px;
    position: relative;
    transition: background-color 0.3s;

    &:hover {
      background-color: #e8e4e4;
    }
  }

  &__carts {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &__subtitle {
    max-width: 180px;
    color: #1a1a1a;
    font-size: 20px;
    margin-bottom: 15px;
    position: relative;
    z-index: 4;
  }

  &__text {
    color: $blue;
    position: relative;
    z-index: 4;
  }
}

.product-card {
  height: 380px;
  max-width: 270px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center 50px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  cursor: pointer;
  position: relative;

  &:hover &__zoom,
  &:hover &__favourite,
  &:hover &__cart {
    opacity: 1;
  }

  &__img {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    max-width: 75%;
  }

  &__wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    padding-bottom: 80px;
  }

  &__zoom,
  &__favourite,
  &__cart {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $yellow;
    transition: background-color 0.3s, opacity 0.3s;
    cursor: pointer;
    opacity: 0;

    &:not(:first-child) {
      margin-left: 10px;
    }

    path {
      transition: color 0.3s;
    }

    &:hover {
      background-color: $blue;
      color: #fff;

      path {
        fill: #fff;
      }
    }
  }

  &__name {
    color: $dark-gray;
    @extend %Rubik-r;
  }

  &__price {
    color: $blue;
    margin: 10px 0 25px;
  }

  &__star,
  &__text,
  &__cart-text {
    display: none;
  }


  &.product-card--list {
    max-width: 870px;
    height: 450px;
    display: flex;
    flex-direction: row;
    box-shadow: none;

    .product-card__wrapper-box {
      display: flex;
      flex-direction: column;
      max-width: 500px;
      padding: 60px 30px 60px 50px;
      text-align: left;
      @extend %Rubik-r;
    }

    .product-card__img {
      height: 100%;
      width: 375px;
      border: 1px solid $gray;
    }

    img {
      max-width: 100%;
    }

    .product-card__star,
    .product-card__text {
      display: block;
    }

    .product-card__zoom {
      display: none;
    }

    .favourite,
    .svg-cart {
      display: none;
    }

    .product-card__cart-text {
      height: 50px;
      width: 210px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $gray;
      text-transform: uppercase;
      z-index: 3;
      transition: color 0.3s;

      &:hover {
        color: #fff;
      }
    }

    .product-card__favourite,
    .product-card__cart {
      border-radius: 0;
      background-color: $light-gray;
      opacity: 1;
      transition: background-color 0.3s;

      &:hover {
        background-color: $blue;
      }
    }

    .cart {
      display: flex;
      width: 210px;
      border-radius: 4px;
      background-color: $light-gray;
    }

    .product-card__wrapper {
      position: static;
      justify-content: flex-start;
      padding-bottom: 0;
      left: 0;
      top: 0;
      transform: none;
      order: 4;
    }

    .product-card__name {
      font-size: 40px;
      margin-bottom: 10px;
    }

    .product-card__price {
      font-size: 30px;
      color: $title;
      margin: 20px 0;
    }

    .product-card__text {
      color: $dark-gray;
      line-height: 1.7;
      margin-bottom: 45px;
    }
  }
}

@media (max-width:1024px) {
  .products {
    &__items {
      margin-bottom: 100px;
      column-gap: 20px;
      row-gap: 25px;
    }
  }

  .product-card {
    height: 320px;
    max-width: 220px;
  }
}

@media (max-width:768px) {
  .products {
    &__items {
      max-width: 460px;
    }

    &__tabs {
      margin-bottom: 50px;
    }

    &__blocks {
      gap: 20px;
      margin-bottom: 100px;
    }

    &__block {
      max-width: 350px;
    }
  }
}

@media (max-width:480px) {
  .product-card {
    height: 285px;
    max-width: 200px;
  }

  .products {
    &__tab:not(:last-child) {
      margin-right: 14px;
    }

    &__items {
      margin-bottom: 70px;
    }

    &__blocks {
      margin-bottom: 80px;
    }

    &__block {
      padding: 30px 0 0 20px;
    }
  }
}

@media (max-width:360px) {
  .products {
    &__tabs {
      flex-wrap: wrap;
      margin: 0 30px 30px;
    }

    &__tab {
      margin-bottom: 10px;
    }
  }
}